

<!DOCTYPE html>
<html lang="Pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <meta name="theme-color" content="#000001"/>
    <meta property="og:image" content="https://cdn.discordapp.com/emojis/810918961918902292.gif?size=96&quality=lossless">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/emojis/810918961918902292.gif?size=96&quality=lossless" type="image/gif">
    <meta property="og:title" content="*:☆`"/>
    <meta property="og:description" content="sillys">
	<script type="text/javascript" src="src/avatar.js"></script>
    <script src="cursor.js"></script>

</head>

<body>


    <div class="profile animate__animated animate__fadeInUp animate__fast">
        <div class="banner">
        <div class="banner">
            <img src="template/000000.png" alt="banner">
        </div>
        </div>
        <div class="pfp">
            <a href="https://discord.com/users/545703210539548684/">
                <img src="<%= rush7.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= rush7.username %>"/>
            </a>
        </div>



        <div class="profile__content animate__animated animate__fadeInUp animate__fast">
            <h3><%= rush7.username%><span class="profile__tag">#<%= rush7.discriminator %></span> 

            <img src="https://raw.githubusercontent.com/worstbaby/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/worstbaby/badges/main/svg/boost9month.svg" width="18">

         </h3>
            <p> <span class="aboutme__title">ABOUT ME</span> <br> <br> <span class="aboutme__text">comedor de casadinhas >.<</span></p>
        </div>

        <div class="socials animate__animated animate__fadeInUp animate__fast">
            <a target="_blank" href="https://twitter.com/rushd3vil" class="fab fa-twitter"></a> 
            <a target="_blank" href="https://discord.com/users/545703210539548684/" class="fab fa-discord"></a> 
            <a target="_blank" href="https://steamcommunity.com/id/notasebucetas/" class="fab fa-steam"></a> 
            <a target="_blank" href="https://www.instagram.com/rushkklk/" class="fab fa-instagram"></a> 
        </div>


        <div class="projects__button">
            <a href="/rush7">solo</a>
        </div>
    </div>


      <div class="profilenando7 animate__animated animate__fadeInUp animate__fast">
        <div class="banner">
            <img src="template/000000.png" alt="banner">
        </div>
        <div class="pfp">
            <a href="https://discord.com/users/934265101438025828/">
                <img src="<%= nando7.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= nando7.username%>"/>
            </a>
        </div>

        <div class="profile__contentnando7 animate__animated animate__fadeInUp animate__fast">
            <h3><%= nando7.username%><span class="profile__tag">#<%= nando7.discriminator %></span> 
          
                <img src="https://raw.githubusercontent.com/worstbaby/badges/main/svg/nitro.svg" width="20" height="15">
                <img src="https://raw.githubusercontent.com/worstbaby/badges/main/svg/boost2month.svg" width="18">

            </h3>
            <p> <span class="aboutme__titlenando7">ABOUT ME</span> <br> <br> <span class="aboutme__textnando7">soca fofo</span></p>
        </div>


        <div class="socialsnando7 animate__animated animate__fadeInUp animate__fast">
            <a target="_blank" href="https://twitter.com/contandoforte" class="fab fa-twitter"></a> 
            <a target="_blank" href="https://discord.com/users/851123172949884928/" class="fab fa-discord"></a> 
            <a target="_blank" href="https://steamcommunity.com/profiles/" class="fab fa-steam"></a> 
            <a target="_blank" href="https://www.instagram.com/henri1vs/" class="fab fa-instagram"></a> 
        </div>

        <div class="projects__buttonnando7">
            <a href="/nando7">solo</a>
        </div>
    </div>
      <div class="profilewzn animate__animated animate__fadeInUp animate__fast">
        <div class="banner">
            <img src="template/000000.png" alt="banner">
        </div>
        <div class="pfp">
            <a href="https://discord.com/users/853297636336861255/">
                <img src="<%= wzn.displayAvatarURL({ dynamic: true, format: "png", size: 4096 })%>" alt="<%= wzn.username %>"/>
            </a>
        </div>



        <div class="profile__contentwzn animate__animated animate__fadeInUp animate__fast">
            <h3><%= wzn.username%><span class="profile__tag">#<%= wzn.discriminator %></span> 
          
                <img src="https://raw.githubusercontent.com/worstbaby/badges/main/svg/nitro.svg" width="20" height="15">
                <img src="https://raw.githubusercontent.com/worstbaby/badges/main/svg/boost1month.svg" width="18">

            </h3>
            <p> <span class="aboutme__titlewzn">ABOUT ME</span> <br> <br> <span class="aboutme__textwzn">CB member</span></p>
        </div>


        <div class="socialswzn animate__animated animate__fadeInUp animate__fast">
            <a target="_blank" href="https://twitter.com/wznsec" class="fab fa-twitter"></a> 
            <a target="_blank" href="https://discord.com/users/853297636336861255/" class="fab fa-discord"></a>
            <a target="_blank" href="https://steamcommunity.com/id/notasebucetas" class="fab fa-steam"></a> 
            <a target="_blank" href="https://github.com/wznCB" class="fab fa-github"></a> 
        </div>

        <div class="projects__buttonwzn">
            <a href="/wzn">solo</a>
        </div>
    </div>

<script>
 var rev = "fwd";
    function titlebar(val){
        var msg  = "sillys";
        var res = " ";
        var speed = 250;
        var pos = val;
        msg = ""+msg+"";
        var le = msg.length;
        if(rev == "fwd"){
            if(pos < le){
                pos = pos+1;
                scroll = msg.substr(0,pos);
                document.title = scroll;
                timer = window.setTimeout("titlebar("+pos+")",speed);
            }
            else {
                rev = "bwd";
                timer = window.setTimeout("titlebar("+pos+")",speed);
            }
        }
        else {
            if(pos > 0) {
                pos = pos-1;
                var ale = le-pos;
                scrol = msg.substr(ale,le);
                document.title = scrol;
                timer = window.setTimeout("titlebar("+pos+")",speed);
            }
            else {
                rev = "fwd";
                timer = window.setTimeout("titlebar("+pos+")",speed);
            }
        }
    }
    titlebar(0);
    </script>

       <audio autoplay loop>
    <source src="plug.mp3" type="audio/mp3" />
  </audio>


</body>

</html>
